/* Input fields */
textarea,
input
  width: 100%
  resize: none
  border: none
  outline: none
  border-bottom: 1px solid $color__accent
  transition: all ease-in 300ms
  overflow: hidden
  background-color: lighten($color__background--light,5)
  padding: 0.3rem 0.5rem
  &::placeholder
    font-size: 0.8rem
    text-transform: uppercase
    color: $color__text--light
    opacity: 1
    transform: translateX(0%)
    transition: all ease-in 600ms
  &:focus::placeholder
    opacity: 0
    transform: translateX(100%)