.site
  overflow: hidden
  position: relative
  height: 100%
  
.social-bar
  background-color: $color__background--dark
  width: 100%
  display: flex
  height: 35px
  justify-content: flex-end
  align-items: center
  padding-right: 5%
  @include tablet-m
    display: none
    
  &__link
    color: darken(white, 20)
    transition: all ease-in-out 200ms
    font-size: 1rem
    margin: 0
    padding: 0
    margin-left: 20px
    &:hover
      color: $color__accent
  
.main-nav
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 5%
  height: 65px
  background-color: white
  color: white
  position: relative
  z-index: 100

  &-links
    margin: 0
    padding: 0
    display: flex
    list-style: none
    background-color: rgba(white, 0.98)
    position: absolute
    right: 0px
    top: 65px
    flex-direction: column
    width: 20%
    min-width: 200px
    transform: translateX(100%)
    transition: transform 300ms ease-in
    align-items: flex-end
    // @include tablet-m
    height: calc(100vh - 65px)

    li
      margin-right: 20%
      margin-left: 0
      opacity: 0
      transition: all ease-in-out 300ms
      width: 100%
      text-align: right
      padding-right: 1rem
      // &:hover
      //   background-color: lighten( $color__background--light, 2)
      @include tablet-m
        margin-right: 10%
      a
        display: inline-block
        height: 100%
        font-size: 0.8rem
        color: $color__text--dark
        text-decoration: none
        letter-spacing: 2px
        text-transform: uppercase
        transition: all ease-in-out 300ms
        font-weight: 600
        padding: 1rem 0
        &::after
          content: ''
          width: 0px
          height: 0.55rem
          display: inline-block
          margin-left: 0.5rem
          background-color: $color__text--dark
          transition: all ease-in-out 300ms

        &:hover
          color: $color__accent
          &::after
            width: 10px
            background-color: $color__accent
            
          
.current-menu-item
  color: $color__accent

.burger
  display: block
  cursor: pointer
  &:hover
    div
      background-color: $color__accent
    .line1
      width: 25px
    .line2
      width: 20px
    .line3
      width: 25px
  div
    width: 25px
    height: 3px
    // background-color: darken($color__background--light, 10)
    background-color: $color__accent
    margin: 5px
    transition: all 300ms ease-in-out
    margin-left: auto
  .line1
    width: 23px
  .line2
    width: 28px
  .line3
    width: 20px

.nav-active
  transform: translateX(0%)

@keyframes navLinkFade
  from
    opacity: 0
    transform: translateX(50px)
  to
    opacity: 1
    transform: translateX(0px)

.burger-toggle
  &:hover
    .line1, .line1, .line3
      background-color: $color__accent
  .line1
    width: 25px
    transform: rotate(45deg) translate(5px, 6px)
    background-color: $color__background--dark
    
  .line2
    width: 0
    opacity: 0

  .line3
    width: 25px
    transform: rotate(-45deg) translate(5px, -6px)
    background-color: $color__background--dark

.nav-logo
  width: 40px

/* Post(s) navigation */
.post-navigation,
.posts-navigation
  .nav-links
    border-top: 1px solid $color__accent
    border-bottom: 1px solid $color__accent
    padding: 0.5rem
    font-size: 0.8rem
    display: flex
    justify-content: space-between
    a
      color: $color__accent
      text-decoration: none
      text-transform: uppercase
      font-weight: 600
      &:hover
        text-decoration: underline

.posts-navigation
  margin: 1rem 0