// .contact
//   &-wrapper
//     display: grid
//     grid-template-columns: 1fr 1fr
//     grid-gap: 2rem
//     @include tablet-s
//       grid-template-columns: 1fr

//   &-info
//     border-right: 1px solid lighten($color__accent, 10)
//     @include tablet-s
//       border-right: none
//     &__title
//       color: $color__accent
//     &__phone,
//     &__email,
//     &__address
//       font-size: 0.9rem
//       display: block
//       margin: 0
//       padding: 0
//       margin-bottom: 0.5rem
//     &__email
//       display: inline-block
//       color: $color__text
//       text-decoration: none
//       font-weight: 600
//       transition: all ease-in-out 200ms
//       &:hover
//         color: $color__accent

//     &__subtitle
//       color: $color__accent
//       margin-top: 3rem
//       font-weight: 600
//     &__social-links
//       list-style: none
//       margin: 0
//       padding: 0
//       display: flex
//       li
//         width: 2rem
//         height: 2rem
//         margin-right: 1rem
//         a
//           display: block
//           background: white
//           color: $color__accent
//           transition: all ease-in-out 200ms
//           font-size: 1rem
//           text-align: center
//           line-height: 2rem
//           &:hover
//             background: $color__accent
//             color: white


.page-split
  width: 100%
  display: flex
  @include tablet-m
    flex-direction: column

  &__image
    padding: 5rem
    width: 50%
    @include tablet-m
      width: 100%
  &__form
    padding: 5%
    width: 50%
    @include tablet-m
      width: 100%

.contact-page__social-buttons
  width: 30%
  margin: 2rem 0
  display: flex
  justify-content: space-between
  @include tablet-m
    width: 50%
  .contact__social__link
    display: block
    font-size: 2rem
    text-decoration: none
    color: $color__text--light
    transition: all ease-in-out 300ms
    &:hover
      color: $color__accent

.contact-page__form
  width: 70%
  margin: 4rem 0
  @include tablet-m
    width: 100%



/* Contact Form */
.wpcf7-form
  display: flex
  flex-direction: column
  label
    margin-bottom: 1rem
    display: grid
    color: $color__text--light
    font-size: 0.8rem
    span
      input
        width: 100%

.wpcf7-response-output
  font-size: 0.8rem
  color: $color__text