.project-page
  margin: 2rem 0

  &__title
    padding-left: 1rem
    border-left: 3px solid $color__accent

  &__meta
    background: $color__background--light
    padding: 1rem
    display: flex
    &__client,
    &__assignment
      margin: 0
      padding: 0 15px
      border-right: 1px solid $color__accent
      font-size: 0.8rem
      font-weight: 600
      color: $color__accent
      text-transform: uppercase
      &:first-child
        padding-left: 0
      &:last-child
        border-right: none
        padding-right: 0
      span
        text-transform: capitalize
        color: lighten($color__text, 10)
        font-size: 0.8rem

  &__featured-image
    width: 100%
    height: 500px
    margin: 15px
    margin-left: 0
    img
      width: 100%
      height: 100%
      display: block
      object-fit: cover
      object-position: center
    @include tablet-m
      width: 100%
      margin: 15px 0
      height: 300px
/* Related Posts Section */

.related-posts-title
  font-weight: 400
  color: $color__text
  &::before
    content: ''
    display: block  
    width: 100%
    height: 1px
    background-color: $color__accent
    margin: 3rem 0 2rem
.related-posts
  list-style: none
  margin: 2rem 0
  padding-inline-start: 0
  display: grid
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) )
  grid-gap: 1rem
      